@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --baseColor: #ADEEE3;
  --baseAccent: #86DEB7;
  --baseLight: #63B995;
  --secondaryLight: #50723C;
  --secondaryDark: #423E28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
